/*****公共******/
*{font-size:12px; font-family:"宋体"; padding:0px; margin:0px;}
/******外边框******/
#shop{width:912px; margin:auto; background-color:#FFF;} 
/******头部********/
#shop .top{ height:175px; }
#shop .logo{ margin-top:68px; width:313px; float:left;}
#shop .logo1{width:93px; height:92px; float:left;}
#shop .logo2{width:196px; height:46px; float:right; margin-left:23px; margin-top:30px;}
#shop .help{width:112px; height:29px; margin-right:60px; float:right; margin-top:138px;}
#shop .vip{ margin-top:8px; margin-left:15px; width:58px; font-size:14px; color:#000; margin-bottom:10px;  text-decoration:none;  float:left;}
#shop .image{ float:left;}
/****分割线*****/
#shop .line{width:910px; margin-top:0px;}
/*****中间登陆部分******/
#shop .center{ }
#shop .back{ width:566px; height:323px; background-color:#7c0217; margin-top:178px; margin-left:172px; position:absolute; z-index:1;}
#shop .login{ width:532px; height:534px; background-color:#3c3c3c; margin-top:72px; margin-left:189px; padding-top:24px; position:relative; z-index:2; }
#shop .viplogo{height:auto; width:170px; margin-left:180px;}
#shop .vfont{ font-size:22px; color:#FFF; float:left; margin:0px 20px;}
#shop .a1{ float:left; margin-top:2px;}
#shop .a2{ margin-top:2px;}
#shop .a3{ color:#FFF; font-size:14px; margin-top:8px; margin-right:24px; float:left;}
#shop .a4{ color:#FFF; font-size:14px; margin-top:48px; margin-right:24px; float:left;}
#shop .password{ width:260px; height:29px; margin-top:40px; background-color:#3c3c3c; border:1px solid #c8c8c8; line-height:30px; color:#FFF; font-size:14px; }
#shop .username{width:260px; height:29px; background-color:#3c3c3c; border:1px solid #c8c8c8; line-height:30px; color:#FFF; font-size:14px; }
#shop .login2{ margin-top:56px; margin-left:60px;}
#shop .submit{ background:url(../image/submit.gif); width:98px; height:36px; margin-left:172px; margin-top:65px; float:left;}
#shop .forget{color:#FFF; font-size:14px; margin-top:78px; margin-right:176px; float:right;}
#shop .remind{ width:482px; height:134px; background-color:#e6e6e6; margin-left:24px; margin-top:48px; padding-top:36px;}
#shop .a5{ color:#3c3c3c; font-size:12px; margin-left:24px;}
#shop .a6{ color:#3c3c3c; font-size:12px; margin-left:24px; margin-top:14px;}
#shop .submit2{ background:url(../image/submit2.gif); width:161px; height:38px; margin-top:32px; margin-left:298px;}
/****底部部分****/
#shop .bottom{ padding-bottom:134px;}
#shop .a7{ text-align:center; margin-top:102px;}






