<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/registercss.css" rel="stylesheet" type="text/css">
<title>注册</title>
</head>
<body>
 	<!--外边框开始-->
	<div id="shop">
    	<!--头部开始-->
	  <div class="top">
		  <div class="logo">
       	        <div class="logo1">
               	    <img src="image/logo1.gif" />
                </div>
            	<div class="logo2">
                	<img src="image/logo2.gif" />
                </div>
          </div>   
            
                <div class="help">
                	<div  class="image"><img src="image/help.gif" /></div>
                    <a href="#" class="vip">登陆帮助</a>
                </div>                 
      </div>
      <div style="clear:both;"></div>       
   <!--头部结束-->
   <!--分割线-->
	  <div class="line"><img src="image/line.gif" /></div>
    <!--中间注册部分开始-->    
      <div class="center">
      		 <div class="back"></div>
             <div class="viplogo">
                    <img src="image/+2.gif" class="a1">
                    <div class="vfont">欢迎注册成为源码商城的会员!尽享购物尊贵服务</div>
                    <img src="image/+2.gif" class="a2">
             </div>
             <div class="vfont2">您所提供的资料不会做其他用途，敬请安心填写</div>
             <div style="clear:both;"></div> 
         	 <div class="login"> 
                    <!--form表单开始-->
                    <form action="#" method="post">
                    <div class="login2">
                    	<div class="a3">Email地址或昵称：</div><input type="text"  class="username" />
                    	<div class="a4">设置昵称：</div><input type="text"  class="password" />
                    	<div class="a4">登陆密码：</div><input type="password"  class="password" />
                    	<div class="a4">确认密码：</div><input type="password"  class="password" />
                        <div class="a5">验证码：</div><input type="text"  class="yanzheng" />
                    </div>
                    <div>
                    	<img src="image/yanzhengma.gif" class="yanzhengimage">
                    </div>
                    
                    <div class="a6">看不清？</div><a href="#">换张图</a>
                    <div style="clear:both;"></div>
                    
                    <input class="box" type="checkbox" name="" value="">
                    <div class="a8">我已阅读并同意《源码商城交易条款》和《源码商城社区条款》</div>
					<div style="clear:both;"></div>
                    <div>
                    	<input type="submit" value="" class="submit" />
                    </div>
                   
                    </form>
                    <!--form表单结束-->

          	 </div>
      </div>
        <!--中间注册部分结束-->
        <!--底部部分开始-->
        <div class="bottom">
        	<div class="a7">长沙源码计算机信息咨询有限公司 版权所有 2010 湘ICP备12182769号 | 联系电话：0731-82259438</div>
        </div>
        <!--底部部分结束-->
	</div>   
    <!--外边框结束-->	
</body>
</html>
